<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ronig.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens>
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Purchase" />
        <activity
            android:name=".Activities.RegisterPage"
            android:label="@string/title_activity_register_page"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activities.LoginPage" />
        <activity
            android:name=".CPU.CPU_Main_Tab"
            android:label="@string/title_activity_cpu__main__tab"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MotherBoard.MotherBoard_Main_Tab"
            android:label="@string/title_activity_mother_board__main__tab"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Case.Case_Main_Tab"
            android:label="@string/title_activity_case__main__tab"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".GPU.GPU_Main_Tab"
            android:label="@string/title_activity_gpu__main__tab"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Memory.Memory_Main_Tab"
            android:label="@string/title_activity_memory__main__tab"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SSD.SSD_Main_Tab"
            android:label="@string/title_activity_ssd__main__tab"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>